In [21]:
import pandas as pd

In [25]:
target_df = pd.read_csv("target_data.csv")

no port available to open Jupyter Notebook in container, 
So extracted the target data in csv file to do Data Validation and Data Analysis

# Data Validation #######

##### ORDER_ID AND ITEM_ID ARE UNIQUE ####

In [40]:
is_unique = not target_df[['item_id','order_id']].duplicated().any()
print(is_unique)

True

##### CUTOMER_EMAIL IN CORRECT PATTERN ####

In [50]:
import re
mail_pat = r'[^@]+@[^@]+\.[^@]+'
is_vaild_mail = target_df['customer_email'].str.contains(mail_pat, regex=True).all()
print(is_vaild_mail)

True

#### DOUBLE AND INT ARE NOT NULL ####

In [66]:
numeric_col = target_df.select_dtypes(include=['float','int']).columns
if target_df['item_id'].notnull().all() and target_df['order_id'].notnull().all() and target_df['total_qty_ordered'].notnull().all() and target_df['customer_id'].notnull().all() and target_df['product_id'].notnull().all() and target_df['price'].notnull().all() and target_df['line_total'].notnull().all() and target_df['qty_ordered'].notnull().all():
    print("all numeric cols have non-null values")
else:
    print("some numeric cols have null value")

all numeric cols have non-null values

#### datetime in correct format ####

In [54]:
try:
    pd.to_datetime(target_df['created_at_x'],format='%Y-%m-%d %H:%M:S')
    print("datetime in correct format")
except ValueError:
    print("some datetime in correct format")

datetime in correct format

# Data Analysis ######

###### TOP 5 Customers ######

In [26]:
df_grouped = target_df.groupby("customer_id")['line_total'].sum()
top_5_customers = df_grouped.nlargest(5)
print(top_5_customers)

customer_id
24    12710890.11
41     3529486.87
16      552567.44
67      523210.61
98      265845.11
Name: line_total, dtype: float64

###### TOP 5 SELLER #######

In [29]:
df_grouped_product = target_df.groupby("product_name")['qty_ordered'].sum()
top_5_seller = df_grouped_product.nlargest(5)
print(top_5_seller)

product_name
LSA Red Wine Gls Clr | 210942128             279
Set Of Twelve Tweezer Sharpeners             246
Palm Mini Frame 4x6                          174
Gold Nail Ear Jackets                        160
Multi-coloured Desert Quartz Kosmos Scarf    128
Name: qty_ordered, dtype: int64

##### Least 5 Seller ####

In [30]:
df_grouped_lproduct = target_df.groupby("product_name")['qty_ordered'].sum()
least_5_seller = df_grouped_lproduct.nsmallest(5)
print(least_5_seller)

product_name
 La Rose Eau de Parfum, 70ml                      1
10 Skin Base Foundation                           1
103 MINI FRENCH COIN | 210785210                  1
105mm Leda Pump - La | 210776328                  1
105mm Leda Pump - Lace:White :39.5 - 210526961    1
Name: qty_ordered, dtype: int64

#### High Sales Days ####

In [37]:
target_df['created_at_x'] = target_df['created_at_x'].str.split(' ').str[0]
target_df['created_at_x'] = pd.to_datetime(target_df['created_at_x'])
df_grouped_highsales = target_df.groupby("created_at_x")['qty_ordered'].sum()
high_sales = df_grouped_highsales.nlargest(5)
print(high_sales)

created_at_x
2016-12-12    340
2016-12-13    273
2017-09-26    183
2017-09-14    166
2018-11-09    141
Name: qty_ordered, dtype: int64